<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue</title>
</head>
<body> 

    <div id="app">
        <span v-bind:title="message">
            {{ message }}
        </span>
        <p>
        {{ name.first }} 
        <span v-if="show">{{name.last}}</span>
        </p>
        <ul v-once id="cart-items">
            <li>{{fruit}}</li>
            <cart-item
            v-for="fruit in fruits"
            v-bind:name="fruit.name"
            v-bind:amount="fruit.amount"></cart-item>
        </ul>
        <ul id="cart-items">
                <li>{{fruit}}</li>
                <cart-item
                v-for="fruit in fruits"
                v-bind:name="fruit.name"
                v-bind:amount="fruit.amount"></cart-item>
            </ul>
        <input type="text" v-model:value="fruit" />
        <input type="submit" v-on:click="addFruit" value="Add fruit"/>        
    </div>
    

    
    
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="main.js"></script>
</body>
</html>